import * as path from "path";

import { getPart1Answer, getPart2Answer } from ".";
import { readFileToString } from "../../util";

describe("Day __DAY__", () => {
  const sampleInput = readFileToString(
    path.join(__dirname, "input/sampleinput.txt")
  );
  const realInput = readFileToString(path.join(__dirname, "input/input.txt"));

  it("solves part 1", () => {
    getPart1Answer(realInput);
  });

  it("solves part 2", () => {
    getPart2Answer(realInput);
  });
});
